@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #413f3f 30.62%, #afafaf 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 10vh;
  width: 8vw;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #494949;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #e2e2e2;
}

.conteudo-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #ebebeb;
}

.conteudo-principal-escrito-subtitulo {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #b4b4b4;
}

.conteudo-principal-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ebebeb;
  text-align: center;  
}

.rodape {
  padding: 32px;
  border-top: 0.4px solid #ebebeb;
  text-align: center;
  padding: 60px 0;
}

.rodape p{
  text-align: center;
  color: #cacaca;
}

.rodape a{
  color: #fafafa
}

.rodape a:hover{
  color: rgba(58, 58, 58, 0.53);
}